
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org


VITE_ESCROW_CONTRACT_ID=CBEBKFQAP46KIKWE4ECUZNTGD6T433NHQYY7DQSVQ2REVG7WAVQE64ZA
VITE_PROJECT_CONTRACT_ID=CA7MSP7ENYQENDNQT23N3GREKOKU6ZPJZAZUDCVMB6YA4HLRWSAQ4WCW
